/*------------------------------------------*/
/*styles para Home*/
/*------------------------------------------*/
/*styles por Micol */

body{
   margin: 0%;
}

header {
   font-family: 'Indie Flower', cursive;
   text-align: center;
   color: orangered;
}

// MOBIBLE:

.navbar-m {
   width: 100%;
   background-color: orangered;
   font-family: 'IBM Plex Mono', monospace;
   border-radius: 10px;
   margin: 5px;
}
.dropbtn-m {
   background-color: orangered;
   color: white;
   padding: 16px;
   font-size: 16px;
   border: none;
}

.dropdown-m {
   position: relative;
   display: flex;
   justify-content: center;
   .fa-bars {
       margin-top: 17px;
       color: white;
   }
}

.dropdown-content-m {
   display: none;
   position: absolute;
   list-style: none;
   background-color: orangered;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
}

.dropdown-content-m li {
   color: white;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   cursor: pointer;
}
.menux-mobile {
   display: block;
}

.dropdown-content-m li:hover {
   background-color: orangered;
}
.dropdown-m:hover .dropdown-content-m {
   display: block;
}
.dropdown-m:hover .dropbtn-m {
   background-color: orangered;
}

.menux-desktop {
   display: none;
}
/* aca finaliza styles por Micol */

/*styles por Adriana Montilla */

.carrousel{
       display:flex;
       justify-content:space-between;
       width: 100%;

   .img-container{
       display: flex;
       position: relative;
       width:100%;
       height: 450px;
       font-family: 'IBM Plex Mono', monospace;
       color: white;
       &:hover{
           .hover{
               height: 30%;
           }
       }
       img{
           width: 100%;
       }
       .hover {
           position: absolute;
           bottom: 0%;
           background-color:orangered;
           opacity:0.5;
           width: 100%;
           transition: height 1s;
           overflow: hidden;
           height:0%;
           .fecha{
             margin-left: 10px;
           }
           .descripcion{
             margin-left: 10px;
           }

           }
       }
       .nati{
         display: none;
       }
       }
/* aca finaliza styles por Adriana Montilla */

/*styles por Micol */
.secciones {
   flex-direction: column;
   .container {
       width: 200px;
       position: relative;
   }
   .img-container {
       width: 300px;
       height: 200px;
   }
   .img-container img {
       width: 100%;
   }
   .button {
       width: 150px;
       border-radius: 10px;
       font-family: 'IBM Plex Mono', monospace;
       text-align: center;
       background-color: #ddd;
       position: absolute;
       top: 60px;
       left: 70px;
   }
   .button:hover {
       background-color: orangered;
       cursor: pointer;
   }

}
/*aca finaliza styles por Micol */

/*styles por Mercedes Ventocilla */
/*variables, mixins*/
$colorTexto: #929292;
@mixin texto_descripion_arriba{
  font-family: 'IBM Plex Mono', monospace;
  color: $colorTexto;
  font-size: 14px;
}

@mixin texto_descripion_iconos{
  font-size: 15px;
  color: $colorTexto;
}

@mixin box_perfil (){
  font-size: 15px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  width: 90%;
  height: 30px;
  margin: auto;
  background-color: #FDE2DA;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*section: video_perfil_notas | video*/
body{
  margin:0;
  .video_perfil_notas{
    .video{
      display: none;
      .video_descripcion{
        font-family: 'IBM Plex Mono', monospace;
        font-size: 10px;
        color: $colorTexto;
      }
    }
  }
}

/*section: video_perfil_notas | notas*/

.video_perfil_notas{
  .column_izq{
    .nota-1{
      width: 90%;
      margin: auto;
       .img_nota_container{
         display: none;
       }
      }
    }
  }

.video_perfil_notas{
  .column_izq{
    .linea_nota{
      display: none;
    }
    .nota-1:last-child{
      display: none;
    }
  }
}

 .nota-1{
   .fecha_comentarios{
     display: flex;
     justify-content: space-between;
     .autor{
       @include texto_descripion_arriba;
       width: 50%;
       text-align: center;
       p{
         margin: 0;
       }
     }
   }
 }

 .fecha_comentarios{
  .iconos{
    @include texto_descripion_arriba;
    display: block;
    width: 28%;
    .iconos_primero{
      display: flex;
      margin: auto;
      width: 80%;
      .icon_heart{
        @include texto_descripion_iconos;
      }
      .favoritos{
        margin-right: 15px;
      }
      .icon_comment{
        @include texto_descripion_iconos;
      }
    }
  }
 }

 .fecha_comentarios{
   .iconos{
       .icon_share{
         @include texto_descripion_iconos;
         margin: auto;
         width: 12%;
       }
   }
 }

 .texto_descripion{
   .titulo_entrada{
     font-family: 'IBM Plex Mono', monospace;
     font-size: 26px;
     font-weight: bold;
     margin-top: 10px;
     text-align: center;
   }
   .cuerpo_entrada{
     font-family: 'IBM Plex Mono', monospace;
     font-weight: normal;
     color: $colorTexto;
     text-align: center;
     font-size: 17px;
     height: 180px;
   }
     button{
       background-color: #FDE2DA;
       color: black;
       font-family: 'IBM Plex Mono', monospace;
       font-size: 14px;
       border: none;
       width: 120px;
       height: 40px;
       border-radius: 8px;
       font-weight: bold;
       margin-top: 20px;
     }
 }

/*video_perfil_notas | perfil*/
  .perfil{
    .sobremi{
      @include box_perfil;
    }
    .foto{
      border-radius: 50%;
      width: 68%;
      height: 240px;
      margin: 21px auto;
      img{
        width: 100%;
        height: 240px;
        border-radius: 50%;
      }
    }
  }

  .perfil{
    .presentacion{
      width: 90%;
      margin: auto;
      .nombre{
        font-family: 'IBM Plex Mono', monospace;
        font-size: 26px;
        font-weight: bold;
        text-align: center;
        margin: 0;
      }
      .edad{
        font-family: 'IBM Plex Mono', monospace;
        color: $colorTexto;
        text-align: center;
        font-size: 16px;
        margin-bottom: 30px;
      }
    }
  }
  .perfil{
    .Newsletter{
      @include box_perfil;
    }
  }
  /*aca finaliza styles por Mercedes Ventocilla */
  /*styles por Magalí */
  footer{
    border-bottom: 2px solid #E6E6E6;
    display: flex;
    justify-content: space-around;
    font-family: 'IBM plex mono', monospace;
    color:#A4A4A4;
    font-size: 18px;
    margin-top: 36px;

    i{
        padding-bottom: 60px;
    }
    span{
      display: none;
    }

    .arrow{
        color: #FB8A01;
        font-size: 50px;
        position: absolute;
        text-align: center;
        margin-top: 60px;
    }
 }
 /*aca finaliza styles por Magalí */
/*aca finaliza styles para Home*/
/*------------------------------------------*/
/*styles para Recetas*/
/*------------------------------------------*/
body{
  margin: 0;
}
.main-container{
  .banner{
    width: 100%;
    margin-top: 25px;
    figure{
      margin: 0;
      img{
        width: 100%;
      }
    }
  }
}


@media (min-width:800px) {
  /*------------------------------------------*/
  /*styles para Home*/
  /*------------------------------------------*/
  /*styles por Micol */
  .menux-mobile {
       display: none;
   }
   .menux-desktop {
       display: inline;
   }
   .navbar-d {
       height: 50px;
       background-color: white;
       font-family: 'IBM Plex Mono', monospace;
   .dropbtn-d {
           display: none;
   }
   .fa-bars {
           display: none;
   }
   .dropdown-content-d {
           list-style: none;
           display: flex;
           justify-content: center;
           justify-content: space-around;
           cursor: pointer;
   }
   .dropdown-content-d li:hover {
           color: orangered;
   }
   .platos {
           position: relative;
   }
   .submenu {
           display: none;
           position: absolute;
           list-style: none;
   }
   .platos:hover .submenu {
           display:block;
           background-color: whitesmoke;
   }

   }
/* aca finaliza styles por Micol */

/*styles por Adriana Montilla */
  .taco{
      width:100%;
      display:none;
      img{
          width:100%;
          display: none;
      }
  }
  .carrousel{
      justify-content:space-between;
      height: 500px;
      .img-container{
          display:inline-block;
          width:23%;
          height: 467px;
          &:hover{
            .hover{
              height: 21%;
              .fecha{
                font-size: 12px;
              }
              .descripcion{
                font-size: 14px;
              }
            }
          }
      }
  }
/* aca finaliza styles por Adriana Montilla */
/*styles por Micol : secciones de recetas platos y exoticos */
.secciones {
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  .container {
      position: relative;
  }
  .img-container {
      width: 300px;
      margin: auto;
  }
  .img-container img {
      width: 100%;
      border-radius: 10px;
  }
  }
  /*aca finaliza styles por Micol */
  /*styles por Mercedes Ventocilla */
  .video_perfil_notas{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    .column_izq{
      width: 68%;
      margin-right: 2%;
      .video{
        display: block;
        width: 100%;
        margin-bottom: 40px;
      }
      .nota-1{
        width: 100%;
        height: 270px;
        display: flex;
        margin-top: 30px;
      }
    }
  }

.video_perfil_notas{
  .column_izq{
    .linea_nota{
      display: block;
      border: 1px solid #E4DFE0;
      margin-right: 20px;
    }
    .nota-1{
      .img_nota_container{
        display: block;
        width: 45%;
        height: 230px;
        border-radius: 30px;
        margin-right: 35px;
        figure{
          margin: 0;
        }
        img{
          width: 100%;
          border-radius: 50px;
          }
        }
      }
     }
    }

.video_perfil_notas{
  .column_izq{
    .nota-1:last-child{
      display: flex;
    }
  }
}

  .texto_descripion{
    width: 55%;
    margin-right: 20px;
    .fecha_comentarios{
      .autor{
        text-align: left;
        font-size: 14px;
      }
      .iconos{
        justify-content: flex-end;
        display: flex;
      }
    }
    .titulo_entrada{
      text-align: left;
      margin-left: 20px;
    }
  }

  .texto_descripion{
    .iconos{
      .iconos_primero{
        justify-content: flex-end;
        margin-right: 10px;
      }
    }
  }

  .texto_descripion{
    .cuerpo_entrada{
      text-align: left;
      font-size: 14px;
      width: 98%;
      font-weight: normal;
      button{
        width: 35%;
        height: 32px;
      }
    }
  }

.video_perfil_notas{
  .perfil{
    width: 25%;
    .sobremi{
      width: 100%;
      font-size: 12px;
    }
    .foto{
      height: 200px;
      img{
        height: 200px;
      }
    }
    .Newsletter{
      width: 100%;
      font-size: 12px;
    }
  }
}

  .video_perfil_notas{
    .perfil{
      .presentacion{
        .nombre{
          font-size: 20px;
        }
        .edad{
          font-size: 12px;
         }
        }
      }
     }
/*aca finaliza styles por Mercedes Ventocilla */
/*styles por Magalí */
  footer {
    margin-bottom: 20px;
    .facebook{
      display: flex;
      justify-content: center;
      i{
        font-size: 17px;
        margin-top: 2px;
      }
      span {
        margin-left: 12px;
        display: flex;
        font-size: 18px;
      }
    }
    .twitter{
      display: flex;
      justify-content: center;
      i{
        font-size: 17px;
        margin-top: 2px;
      }
      span {
        margin-left: 12px;
        display: flex;
        font-size: 18px;
      }
    }
    .google{
      display: flex;
      justify-content: center;
      i{
        font-size: 17px;
        margin-top: 2px;
      }
      span {
        margin-left: 12px;
        display: flex;
        font-size: 18px;
      }
    }
    .linkedin{
      display: flex;
      justify-content: center;
      i{
        font-size: 17px;
        margin-top: 2px;
      }
      span {
        margin-left: 12px;
        display: flex;
        font-size: 18px;
      }
    }
    .instagram{
      display: flex;
      justify-content: center;
      i{
        font-size: 17px;
        margin-top: 2px;
      }
      span {
        margin-left: 12px;
        display: flex;
        font-size: 18px;
      }
    }
    .youtube{
      display: flex;
      justify-content: center;
      i{
        font-size: 17px;
        margin-top: 2px;
      }
      span {
        margin-left: 12px;
        display: flex;
        font-size: 18px;
      }
    }

    .arrow{
      display: none;
    }

  }
/*aca finaliza styles por Magalí */
/*aca finaliza styles para Home*/
/*------------------------------------------*/
 }
